@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

progress {
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

figure {
  margin: 1em 40px; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button, input, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }

  header, .text-left {
    text-align: left !important; }

  .text-left * {
    text-align: left; } }
/*      base
-----------------------------------------------------------------------*/
@-moz-viewport , @-ms-viewport, @-o-viewport, @-webkit-viewport, @viewport {
  width: device-width; }
[tabindex="-1"]:focus {
  outline: none !important; }

html, body {
  text-align: center;
  height: 100%; }

body {
  background: #fcfaf7;
  color: #695f5f;
  font: 16px/1.5 "Montserrat", \5FAE\8EDF\6B63\9ED1\9AD4, "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .01em; }

img {
  vertical-align: middle; }

a, area, button, [role="button"], input, label, select, summary, textarea {
  touch-action: manipulation; }

button, [role="button"], [type="button"] {
  background: none;
  cursor: pointer;
  border: none; }
  button:focus, [role="button"]:focus, [type="button"]:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(230, 182, 55, 0.35); }

a {
  color: #513d29;
  text-decoration: none;
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  a:hover, a:active {
    color: #f1bc2f;
    outline-width: 0; }

h1 {
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.75rem;
  font-weight: 500;
  line-height: 1.1; }

h1 {
  font-size: 48px;
  font-size: 3rem; }

h2 {
  font-size: 45px;
  font-size: 2.8125rem; }

h3 {
  font-size: 27px;
  font-size: 1.6875rem; }

h4 {
  font-size: 24px;
  font-size: 1.5rem; }

h5 {
  font-size: 18px;
  font-size: 1.125rem; }

h6 {
  font-size: 17px;
  font-size: 1.0625rem; }

b, strong, .b, .strong {
  font-weight: bold; }

mark {
  background-color: #fffFD7;
  padding: .2em; }

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #eee5dd; }

p {
  margin: 0; }
  p + p {
    margin-top: 0.25rem; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #eee5dd; }

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0; }
  ol ol, ol ul, ol dl, ul ol, ul ul, ul dl, dl ol, dl ul, dl dl {
    font-size: 90%;
    margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

.list-inline, .list-unstyled {
  list-style: none;
  padding-left: 0; }

.list-inline > li {
  display: inline-block; }
  .list-inline > li:not(:last-child) {
    margin-right: 5px; }

/*      table
-----------------------------------------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  border-bottom: 1px solid #eee5dd; }
  table.fixed {
    table-layout: fixed;
    word-wrap: break-word;
    word-break: break-all; }

tbody + tbody {
  border-top: 2px solid #eee5dd; }

th, td {
  text-align: center;
  vertical-align: middle;
  padding: 0.25rem 0.5rem;
  border-top: 1px solid #eee5dd; }

.table-bordered {
  border: 1px solid #eee5dd; }
  .table-bordered th, .table-bordered td {
    border: 1px solid #eee5dd; }
  .table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 2px; }

.table-striped tr:nth-child(even) {
  background-color: #f8f9fa; }

.table-striped-rowspan tbody:nth-child(even) {
  background-color: #f8f9fa; }

.table-hover tbody tr:hover {
  background-color: #fffFD7; }

.table-rwd {
  overflow-x: auto;
  min-height: 0.01%; }
  .table-rwd table {
    max-width: 100%; }
  @media (max-width: 63.9375em) {
    .table-rwd {
      width: 100%;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar; }
      .table-rwd table {
        margin-bottom: 0; }
        .table-rwd table th, .table-rwd table td {
          white-space: nowrap; } }

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  background: #f1bc2f;
  color: #fff;
  font-size: 0.9375rem;
  line-height: 28px;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  -webkit-transition: background .35s, color .5s;
  transition: background .35s, color .5s;
  letter-spacing: 1px; }
  .btn:hover, .btn:active, .btn:focus, .btn.active {
    background: #efb312;
    color: #fff; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65;
    background: #695f5f; }
  .btn.success {
    background: #9e8467; }
    .btn.success:hover, .btn.success:active, .btn.success.active {
      background: #ae9880; }
  .btn.info {
    background: #3d332b; }
    .btn.info:hover, .btn.info:active, .btn.info.active {
      background: #55473c; }
  .btn.warning {
    background: #e6b637; }
    .btn.warning:hover, .btn.warning:active, .btn.warning.active {
      background: #ebc35b; }
  .btn.danger {
    background: #FF2200; }
    .btn.danger:hover, .btn.danger:active, .btn.danger.active {
      background: #ff4529; }
  .btn.white:hover, .btn.white:active, .btn.white.active {
    background: #f4c855; }

.clearfix::after, .wrap::after {
  content: "";
  display: table;
  clear: both; }

.text-hide, .foot-logo {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.block {
  display: block; }

.inline-block, .foot-contact em {
  display: inline-block; }

.inline {
  display: inline; }

.clear {
  clear: both; }

[hidden], .hidden {
  display: none; }

.circle {
  border-radius: 50%; }

.img-center {
  display: block;
  margin: auto; }

.rest {
  overflow: hidden; }

.w-100 {
  width: 100%; }

.full {
  max-width: 100%; }

.center, .wrap {
  margin-right: auto;
  margin-left: auto; }

.m-0 {
  margin: 0; }

.mt-0 {
  margin-top: 0; }

.mr-0 {
  margin-right: 0; }

.mb-0, .foot-contact ul {
  margin-bottom: 0; }

.ml-0 {
  margin-left: 0; }

.mx-0 {
  margin-right: 0;
  margin-left: 0; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.m-2 {
  margin: 0.125rem; }

.mt-2 {
  margin-top: 0.125rem; }

.mr-2 {
  margin-right: 0.125rem; }

.mb-2 {
  margin-bottom: 0.125rem; }

.ml-2 {
  margin-left: 0.125rem; }

.mx-2 {
  margin-right: 0.125rem;
  margin-left: 0.125rem; }

.my-2 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem; }

.m-4 {
  margin: 0.25rem; }

.mt-4 {
  margin-top: 0.25rem; }

.mr-4, .foot-nav a:not(:last-child) {
  margin-right: 0.25rem; }

.mb-4, .foot-contact li {
  margin-bottom: 0.25rem; }

.ml-4 {
  margin-left: 0.25rem; }

.mx-4 {
  margin-right: 0.25rem;
  margin-left: 0.25rem; }

.my-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.m-8 {
  margin: 0.5rem; }

.mt-8, .logo-sub {
  margin-top: 0.5rem; }

.mr-8, .foot-contact em {
  margin-right: 0.5rem; }

.mb-8 {
  margin-bottom: 0.5rem; }

.ml-8 {
  margin-left: 0.5rem; }

.mx-8 {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.m-12 {
  margin: 0.75rem; }

.mt-12, .lawyer-info p {
  margin-top: 0.75rem; }

.mr-12 {
  margin-right: 0.75rem; }

.mb-12, .contacts dt, .contacts dd {
  margin-bottom: 0.75rem; }

.ml-12 {
  margin-left: 0.75rem; }

.mx-12 {
  margin-right: 0.75rem;
  margin-left: 0.75rem; }

.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.m-16 {
  margin: 1rem; }

.mt-16 {
  margin-top: 1rem; }

.mr-16, .foot-contact li:not(:last-child) {
  margin-right: 1rem; }

.mb-16, .foot-nav {
  margin-bottom: 1rem; }

.ml-16 {
  margin-left: 1rem; }

.mx-16 {
  margin-right: 1rem;
  margin-left: 1rem; }

.my-16 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m-24 {
  margin: 1.5rem; }

.mt-24, #banner {
  margin-top: 1.5rem; }

.mr-24 {
  margin-right: 1.5rem; }

.mb-24, .lawyer-title {
  margin-bottom: 1.5rem; }

.ml-24 {
  margin-left: 1.5rem; }

.mx-24 {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.my-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.m-32 {
  margin: 2rem; }

.mt-32 {
  margin-top: 2rem; }

.mr-32 {
  margin-right: 2rem; }

.mb-32, .lawyers-explain h3 {
  margin-bottom: 2rem; }

.ml-32 {
  margin-left: 2rem; }

.mx-32 {
  margin-right: 2rem;
  margin-left: 2rem; }

.my-32 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.m-48 {
  margin: 3rem; }

.mt-48 {
  margin-top: 3rem; }

.mr-48 {
  margin-right: 3rem; }

.mb-48, .lawyer .intro {
  margin-bottom: 3rem; }

.ml-48 {
  margin-left: 3rem; }

.mx-48 {
  margin-right: 3rem;
  margin-left: 3rem; }

.my-48 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.m-64 {
  margin: 4rem; }

.mt-64 {
  margin-top: 4rem; }

.mr-64 {
  margin-right: 4rem; }

.mb-64, #header {
  margin-bottom: 4rem; }

.ml-64 {
  margin-left: 4rem; }

.mx-64 {
  margin-right: 4rem;
  margin-left: 4rem; }

.my-64 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.p-0 {
  padding: 0; }

.pt-0 {
  padding-top: 0; }

.pr-0 {
  padding-right: 0; }

.pb-0 {
  padding-bottom: 0; }

.pl-0 {
  padding-left: 0; }

.px-0 {
  padding-right: 0;
  padding-left: 0; }

.py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.p-2 {
  padding: 0.125rem; }

.pt-2 {
  padding-top: 0.125rem; }

.pr-2 {
  padding-right: 0.125rem; }

.pb-2 {
  padding-bottom: 0.125rem; }

.pl-2 {
  padding-left: 0.125rem; }

.px-2 {
  padding-right: 0.125rem;
  padding-left: 0.125rem; }

.py-2 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem; }

.p-4 {
  padding: 0.25rem; }

.pt-4 {
  padding-top: 0.25rem; }

.pr-4 {
  padding-right: 0.25rem; }

.pb-4, .underline {
  padding-bottom: 0.25rem; }

.pl-4 {
  padding-left: 0.25rem; }

.px-4 {
  padding-right: 0.25rem;
  padding-left: 0.25rem; }

.py-4 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.p-8 {
  padding: 0.5rem; }

.pt-8 {
  padding-top: 0.5rem; }

.pr-8, .foot-nav a:not(:last-child) {
  padding-right: 0.5rem; }

.pb-8 {
  padding-bottom: 0.5rem; }

.pl-8 {
  padding-left: 0.5rem; }

.px-8 {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.py-8, .goTop, .lawyers-head.fixed {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.p-12 {
  padding: 0.75rem; }

.pt-12 {
  padding-top: 0.75rem; }

.pr-12, .contacts dt {
  padding-right: 0.75rem; }

.pb-12 {
  padding-bottom: 0.75rem; }

.pl-12 {
  padding-left: 0.75rem; }

.px-12 {
  padding-right: 0.75rem;
  padding-left: 0.75rem; }

.py-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.p-16 {
  padding: 1rem; }

.pt-16 {
  padding-top: 1rem; }

.pr-16 {
  padding-right: 1rem; }

.pb-16 {
  padding-bottom: 1rem; }

.pl-16 {
  padding-left: 1rem; }

.px-16, .goTop {
  padding-right: 1rem;
  padding-left: 1rem; }

.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p-24 {
  padding: 1.5rem; }

.pt-24 {
  padding-top: 1.5rem; }

.pr-24 {
  padding-right: 1.5rem; }

.pb-24 {
  padding-bottom: 1.5rem; }

.pl-24 {
  padding-left: 1.5rem; }

.px-24 {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.p-32 {
  padding: 2rem; }

.pt-32 {
  padding-top: 2rem; }

.pr-32 {
  padding-right: 2rem; }

.pb-32 {
  padding-bottom: 2rem; }

.pl-32 {
  padding-left: 2rem; }

.px-32 {
  padding-right: 2rem;
  padding-left: 2rem; }

.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p-48 {
  padding: 3rem; }

.pt-48, .lawyer article {
  padding-top: 3rem; }

.pr-48 {
  padding-right: 3rem; }

.pb-48 {
  padding-bottom: 3rem; }

.pl-48 {
  padding-left: 3rem; }

.px-48 {
  padding-right: 3rem;
  padding-left: 3rem; }

.py-48, .lawyers-head {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.p-64 {
  padding: 4rem; }

.pt-64 {
  padding-top: 4rem; }

.pr-64 {
  padding-right: 4rem; }

.pb-64 {
  padding-bottom: 4rem; }

.pl-64 {
  padding-left: 4rem; }

.px-64 {
  padding-right: 4rem;
  padding-left: 4rem; }

.py-64 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.align-top {
  vertical-align: top; }

.align-middle {
  vertical-align: middle; }

.align-bottom {
  vertical-align: bottom; }

.text-left {
  text-align: left; }

.text-right, .contacts dt {
  text-align: right; }

.text-center, .foot-contact em {
  text-align: center; }

.text-nowrap {
  white-space: nowrap; }

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-white, .btn.white:hover, .btn.white:active, .btn.white.active, #footer a, .goTop, .goTop:hover, .goTop:active {
  color: #fff; }

.text-black {
  color: #000; }

.bg-white, .btn.white, .card {
  background-color: #fff; }

.bg-black {
  background-color: #000; }

.text-primary, .btn.white, #footer a:hover, #footer a:active, .foot-lawer dt, .mobile-toggle, .lawyers-explain h3 {
  color: #f1bc2f; }

.bg-primary {
  background-color: #f1bc2f; }

.hover-primary {
  color: #f1bc2f; }
  .hover-primary:hover, .hover-primary:active {
    color: #c6940d; }

.text-secondary, .title {
  color: #513d29; }

.bg-secondary {
  background-color: #513d29; }

.hover-secondary {
  color: #513d29; }
  .hover-secondary:hover, .hover-secondary:active {
    color: #1e170f; }

.text-muted {
  color: #695f5f; }

.bg-muted {
  background-color: #695f5f; }

.hover-muted {
  color: #695f5f; }
  .hover-muted:hover, .hover-muted:active {
    color: #413b3b; }

.text-success, #banner, .contacts dt {
  color: #9e8467; }

.bg-success {
  background-color: #9e8467; }

.hover-success {
  color: #9e8467; }
  .hover-success:hover, .hover-success:active {
    color: #715d48; }

.text-info, .lawyers-nav a:hover, .lawyers-nav a:active, .lawyers-nav a.active {
  color: #3d332b; }

.bg-info {
  background-color: #3d332b; }

.hover-info {
  color: #3d332b; }
  .hover-info:hover, .hover-info:active {
    color: #100d0b; }

.text-warning {
  color: #e6b637; }

.bg-warning {
  background-color: #e6b637; }

.hover-warning {
  color: #e6b637; }
  .hover-warning:hover, .hover-warning:active {
    color: #b98d17; }

.text-danger, .help {
  color: #FF2200; }

.bg-danger {
  background-color: #FF2200; }

.hover-danger {
  color: #FF2200; }
  .hover-danger:hover, .hover-danger:active {
    color: #b31800; }

[class*="text-"].disabled, [class*="text-"][disabled],
[class*="hover-"].disabled,
[class*="hover-"][disabled] {
  cursor: not-allowed;
  color: #695f5f; }

/*      layout
-----------------------------------------------------------------------*/
.wrap {
  max-width: 1400px; }
  @media (min-width: 64em) and (max-width: 87.5em) {
    .wrap {
      max-width: 1200px; } }
  @media (max-width: 74.9375em) {
    .wrap {
      padding-left: 16px;
      padding-left: 1rem;
      padding-right: 16px;
      padding-right: 1rem; } }

#wrapper {
  min-height: 100%;
  padding-bottom: 520px;
  border-top: 1px solid #f1bc2f; }
  @media (min-width: 64em) {
    #wrapper {
      padding-bottom: 610px; } }

#header {
  background: url(../images/header-bg.png) 330px 8px no-repeat;
  position: relative;
  z-index: 3;
  padding-top: 28px; }

.logo {
  cursor: pointer;
  cursor: hand;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: url(../images/logo.gif) center 0 no-repeat;
  width: 266px;
  padding-top: 48px; }
  @media (min-width: 41.6875em) and (max-width: 63.9375em) {
    .js-mobile-body .logo {
      position: relative;
      z-index: 1000; } }
  .logo-en {
    color: #9e8467;
    letter-spacing: 1px;
    position: relative; }
    .logo-en::before, .logo-en::after {
      content: '';
      display: block;
      width: 82px;
      border-top: 1px solid #f1bc2f;
      position: absolute;
      top: 49.5%;
      left: 50%; }
      @media (max-width: 23.4375em) {
        .logo-en::before, .logo-en::after {
          width: 42px; } }
      @media (min-width: 64em) {
        .logo-en::before, .logo-en::after {
          display: none; } }
    .logo-en::before {
      margin-left: -154px; }
      @media (max-width: 23.4375em) {
        .logo-en::before {
          margin-left: -114px; } }
    .logo-en::after {
      margin-left: 72px; }
  .logo-sub {
    color: #bdb1a2;
    font-size: 16px;
    font-size: 1rem; }

#banner {
  line-height: 1.2;
  font-weight: 100;
  width: 100%;
  font-size: 41px;
  font-size: 2.5625rem; }
  @media (max-width: 30em) {
    #banner {
      font-size: 2.125rem; } }

#footer {
  background: #333;
  color: #e6e6e6;
  min-height: 420px;
  margin-top: -420px;
  position: relative;
  z-index: 2; }
  @media (min-width: 64em) {
    #footer {
      min-height: 510px;
      margin-top: -510px; } }
  #footer .wrap {
    padding-top: 54px;
    padding-bottom: 48px;
    position: relative; }
    @media (max-width: 63.9375em) {
      #footer .wrap {
        padding-top: 32px;
        padding-bottom: 24px; } }
  #footer hr {
    margin: 12px 0 16px;
    border-color: #625432; }

.copyright {
  position: absolute; }
  @media (min-width: 64em) {
    .copyright {
      right: 16px;
      top: 72px; } }
  @media (min-width: 75em) {
    .copyright {
      right: 0; } }
  @media (max-width: 63.9375em) {
    .copyright {
      left: 120px;
      top: 50px;
      text-align: left; } }

.foot-slogan {
  color: #333;
  line-height: 1.2;
  letter-spacing: 4px;
  border-bottom: 2px solid #fff;
  padding-top: 89.1px;
  padding-bottom: 89.1px;
  background: #f1bc2f url(../images/foot-bg.gif) 120% center no-repeat;
  font-size: 39px;
  font-size: 2.4375rem; }
  @media (max-width: 63.9375em) {
    .foot-slogan {
      background-size: cover;
      background-position: center center;
      padding: 46.6px 16px; } }
.foot-logo {
  background: url(../images/foot-logo.gif) 0 0 no-repeat;
  height: 67px; }
  @media (min-width: 64em) {
    .foot-logo {
      background-position: 40px 0; } }
@media (max-width: 63.9375em) {
  .foot-contact {
    margin-top: 24px; } }
.foot-contact p {
  line-height: 1.85;
  letter-spacing: .05em; }
  @media (max-width: 47.9375em) {
    .foot-contact p {
      margin-bottom: 8px; } }
.foot-contact em {
  border: 1px solid #625432;
  font-style: normal;
  line-height: 22px;
  width: 22px;
  height: 22px; }
.foot-nav a:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.85); }
.foot-lawer dt {
  font-weight: 100;
  letter-spacing: 1px; }
  @media (min-width: 35.5em) {
    .foot-lawer dt {
      margin-top: -12px;
      font-size: 35px;
      font-size: 2.1875rem; } }
  @media (max-width: 35.4375em) {
    .foot-lawer dt {
      font-size: 1.5rem;
      margin-top: -4px;
      float: none !important; } }
.foot-lawer a {
  display: inline-block;
  letter-spacing: 2px; }
  @media (min-width: 35.5em) {
    .foot-lawer a {
      margin-left: 24px;
      margin-bottom: 16px; } }
  @media (max-width: 35.4375em) {
    .foot-lawer a {
      margin-right: 12px;
      margin-bottom: 12px; } }

#menu {
  z-index: 20; }
  @media (min-width: 64em) {
    #menu::before, #menu::after {
      content: '';
      display: block;
      width: calc(50% - 75px);
      border-top: 1px solid #f1bc2f;
      position: absolute;
      top: 134px; }
    #menu::before {
      left: 0; }
    #menu::after {
      right: 0; } }
  @media (max-width: 63.9375em) {
    #menu {
      height: 48px; } }
  @media (max-width: 63.9375em) {
    #menu {
      z-index: 999;
      background: rgba(255, 255, 255, 0.85);
      -webkit-transition: opacity .5s;
      transition: opacity .5s;
      overflow-y: auto;
      width: 100%;
      visibility: hidden;
      opacity: 0;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      padding: 42px 16px 16px 16px; }
      .js-mobile-body #menu {
        opacity: 1;
        visibility: visible; } }
  @media (min-width: 41.6875em) and (max-width: 63.9375em) {
    #menu {
      padding-top: 180px; } }

.nav-item {
  display: inline-block;
  letter-spacing: .5px;
  -webkit-transition: 0.35s;
  transition: 0.35s; }
  @media (min-width: 64em) {
    .nav-item {
      font-size: 17px;
      font-size: 1.0625rem;
      position: absolute;
      top: 92px; }
      .nav-item:nth-child(1) {
        left: 7.58%; }
      .nav-item:nth-child(2) {
        left: 16.5%; }
      .nav-item:nth-child(3) {
        left: 26.83%; }
      .nav-item:nth-child(4) {
        left: 68%; }
      .nav-item:nth-child(5) {
        left: 77.42%; }
      .nav-item::after {
        border-radius: 50%;
        width: 13px;
        height: 13px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        border: 1px solid #f1bc2f;
        position: relative;
        left: 50%;
        top: 28px;
        margin-left: -6.5px; }
        .nav-item::after {
          content: '';
          display: block; }
      .nav-item:hover::after, .nav-item:active::after {
        box-shadow: 0 0 0 8px rgba(241, 188, 47, 0.3); }
      .nav-item.current {
        color: #513d29; }
        .nav-item.current::after {
          background: #f1bc2f; } }
  @media (max-width: 63.9375em) {
    .nav-item {
      font-size: 1.5625rem;
      margin: 2% .5%;
      padding: 8px 24px;
      background: #fff;
      border: 1px solid #f1bc2f; }
      .nav-item:hover, .nav-item:active, .nav-item.current {
        background: #f1bc2f;
        color: #fff; } }
  @media (max-width: 41.625em) {
    .nav-item {
      display: block;
      margin-left: 0;
      margin-right: 0; } }

.js-mobile-body {
  overflow-y: hidden; }

.mobile-toggle {
  display: none;
  background: none;
  cursor: pointer;
  z-index: 1000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
  position: fixed;
  top: 10px;
  right: 10px; }
  @media (max-width: 63.9375em) {
    .mobile-toggle {
      display: block; } }
  .mobile-toggle:focus {
    box-shadow: none; }

.font-tiny {
  font-size: 13px;
  font-size: 0.8125rem; }

.font-sm, .logo-en, .foot-contact {
  font-size: 14px;
  font-size: 0.875rem; }

.font-md {
  font-size: 15px;
  font-size: 0.9375rem; }

.font-lg, .goTop {
  font-size: 18px;
  font-size: 1.125rem; }

.font-xl, .mobile-toggle {
  font-size: 24px;
  font-size: 1.5rem; }

.font-xxl, .lawyer-title {
  font-size: 35px;
  font-size: 2.1875rem; }

.font-xxxl {
  font-size: 48px;
  font-size: 3rem; }

.font-jumbo {
  font-size: 64px;
  font-size: 4rem; }

.goTop {
  z-index: 99;
  opacity: 0;
  border-radius: 0.25rem border-radius 0 0;
  background: rgba(0, 0, 0, 0.35);
  position: fixed;
  right: 12px;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .goTop:hover, .goTop:active {
    background: rgba(0, 0, 0, 0.7); }

.fade-in {
  -webkit-animation: fadeIn 1s 1 forwards;
  animation: fadeIn 1s 1 forwards; }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.fade-out {
  -webkit-animation: fadeOut 1s 1 forwards;
  animation: fadeOut 1s 1 forwards; }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
@keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
.underline {
  border-bottom: 2px solid #f1bc2f; }

.border, .card {
  border: 1px solid #f1bc2f; }

.help {
  cursor: help; }

@media (min-width: 48em) {
  .about-info {
    padding-left: 32px; } }

.Lawyers #wrapper {
  padding-bottom: 510px; }
  @media (max-width: 63.9375em) {
    .Lawyers #wrapper {
      padding-bottom: 420px; } }

.lawyers-head {
  background: #e6b637 url(../images/lawyers/lawyer-headBg.gif) center no-repeat;
  border-bottom: 2px solid #fff;
  -webkit-transition: 0.35s;
  transition: 0.35s; }
  .lawyers-head h1 {
    letter-spacing: 3px; }
  @media (max-width: 63.9375em) {
    .lawyers-head {
      background-size: cover;
      padding-top: 24px;
      padding-bottom: 24px; }
      .lawyers-head h1 {
        margin-bottom: 16px; } }
  .lawyers-head.fixed {
    width: 100%;
    z-index: 4;
    position: fixed;
    top: 0; }
    .lawyers-head.fixed h1 {
      display: none; }
.lawyers-nav a {
  display: inline-block;
  color: #876647;
  line-height: 1.01;
  padding: 0 28px;
  margin: 4px -4px;
  font-size: 21px;
  font-size: 1.3125rem; }
  @media (max-width: 47.9375em) {
    .lawyers-nav a {
      padding: 0 16px; } }
  .lawyers-nav a:not(:last-child) {
    border-right: 1px solid #fff; }
.lawyers-explain {
  background: #fff url(../images/lawyers/lawyers-otherBg.gif) center 14px no-repeat;
  padding-top: 40px;
  padding-bottom: 106px; }
  @media (max-width: 47.9375em) {
    .lawyers-explain {
      padding: 40px 16px 50px;
      background-position: center 0; } }
  .lawyers-explain h3 {
    letter-spacing: 12px;
    font-size: 41px;
    font-size: 2.5625rem; }
    @media (max-width: 47.9375em) {
      .lawyers-explain h3 {
        font-size: 2.25rem;
        letter-spacing: 2px;
        margin-bottom: 20px; } }

.lawyer {
  background: #f5efe9 url(../images/lawyers/lawyer-footBg.gif) center bottom no-repeat;
  border-bottom: 3px solid #fff;
  padding-bottom: 84px; }
  .lawyer .pic img {
    max-width: 100%; }
  @media (min-width: 48em) {
    .lawyer .intro {
      padding-left: 32px; } }
  @media (min-width: 48em) {
    .lawyer-title {
      margin-top: 76px; } }
  .lawyer-title span {
    letter-spacing: 10px; }
  .lawyer-title small {
    letter-spacing: 3px;
    margin-top: 20px;
    font-size: 20px;
    font-size: 1.25rem; }
  .lawyer article {
    background: url(../images/lawyers/lawyer-infoBg.gif) center 90px no-repeat;
    border-top: 1px solid #e8ddd3; }
    @media (max-width: 47.9375em) {
      .lawyer article {
        background-position: right center; } }
  .lawyer-info dt {
    font-weight: 100;
    letter-spacing: 2px; }
    @media (min-width: 48em) {
      .lawyer-info dt {
        margin-bottom: 24px; } }
  @media (max-width: 47.9375em) {
    .lawyer-info.text-right, .contacts dt.lawyer-info {
      text-align: left; } }

.service-law, .service-scribe {
  background-repeat: no-repeat; }
  @media (min-width: 50em) {
    .service-law, .service-scribe {
      display: inline-block;
      vertical-align: top;
      min-height: 600px;
      width: 42.85%; } }
  .service-law p, .service-scribe p {
    font-size: 17px;
    font-size: 1.0625rem; }
    .service-law p ~ p, .service-scribe p ~ p {
      margin-top: 0.75em; }
.service-law {
  background-image: url(../images/service-law.jpg);
  background-position: 0 bottom; }
  @media (max-width: 49.9375em) {
    .service-law {
      padding-bottom: 160px;
      margin-bottom: 24px; } }
.service-scribe {
  background-image: url(../images/service-scribe.jpg);
  background-position: right 0; }
  @media (min-width: 50em) {
    .service-scribe {
      margin-left: 3%; } }

#map {
  height: 460px;
  border: 1px solid #f1bc2f; }

@media (min-width: 64em) {
  .contact-info {
    padding-left: 32px; } }

.contacts dt {
  width: 100px; }
