@charset "UTF-8";

// 本頁專用變數(把下面的setting,variables蓋掉)
$isIndex:                        true;
$img-index:                      '../images/index';


// import
// ------------------------------------------------------------
@import "core/function";     // (置頂)

@import "_client/setting";   // 前台用變數
@import "core/variables";
@import "core/mixins";

// 由此 output css
@import "vendor/normalize";  // 重置樣式
@import "vendor/print";      // 列印樣式

@import "element/basic";
@import "element/link";
@import "element/type";
@import "element/util";

@import "_client/layout";
@import "_client/modules/figure";

@import "_client/custom"; // 建議置底


// main
// ------------------------------------------------------------
.main {
    margin-bottom: 118px;
}
.card {
    @extend .bg-white, .border, .p-24;

    display: inline-block;

    @include grid(1, 4);

    ~ .card {
        margin-left: 2%;
    }

    figcaption, img {
        @include transition(.5s);
    }

    figcaption {
        @extend %figure-full, .bg-black;

        overflow: hidden;
        opacity: 0;

        &:before {
            @extend .font-xxxl, .text-primary;
            @include center;
            z-index: 2;
        }
    }
    img {
        // opacity: .1;
        @include absolute(left 50% top 50%);
        @include prefix(filter, blur(10px) brightness(.8));
        @include transform(translate(-50%,-50%) scale(2));
        @include prefix(transform-origin, center);
    }

    &:hover {
        figcaption {
            opacity: 1;
        }
        img {
            @include prefix(filter, brightness(.45));
            @include transform(translate(-50%,-50%));
        }
    }
}