@charset "UTF-8";

// 本頁專用變數(覆蓋)
// ------------------------------------------------------------
$isPage:                 true;

$font-size-h2:           45px;


// import
// ------------------------------------------------------------
@import "core/function";     // (置頂)

@import "_client/setting";   // 前台用變數
@import "core/variables";
@import "core/mixins";

// 由此 output css
@import "vendor/normalize";  // 重置樣式
@import "vendor/print";      // 列印樣式

@import "element/basic";
@import "element/link";
@import "element/type";
@import "element/table";
@import "element/btn";
@import "element/util";

@import "_client/layout";
@import "_client/modules/nav";
// @import "_client/modules/field";

@import "_client/custom";   // 本專案自定樣式


// main
// ------------------------------------------------------------

// == 簡介
.about-info {
    @include mq(tablet) {
        padding-left: 32px;
    }
}

// == 專業團隊
.Lawyers #wrapper {
    padding-bottom: $footer-height;
}

// 律師選單
.lawyers {
    &-head {
        @extend .py-48;

        background: color(warning) url(#{$img-path}/lawyers/lawyer-headBg.gif) center no-repeat;
        border-bottom: 2px solid #fff;

        @include transition(.35s);

        @include mq-max(break(desktop, -1)) {
            background-size: cover;
        }

        h1 { letter-spacing: 3px; }

        &.fixed {
            @extend .py-8;

            width: 100%;
            z-index: 4;

            @include fixed(top 0);

            h1 { display: none; }
        }
    }
    &-nav {
        a {
            display: inline-block;
            color: #876647;
            line-height: 1.01;
            padding: 0 28px;
            margin: 4px -4px;

            @include rem('font-size', 21);

            @include mq-max(break(tablet, -1)) {
                padding: 0 16px;
            }

            &:not(:last-child) {
                border-right: 1px solid #fff;
            }

            &:hover, &:active, &.active {
                @extend .text-info;
            }
        }
    }
    &-explain {
        background: #fff url(#{$img-path}/lawyers/lawyers-otherBg.gif) center 14px no-repeat;

        padding-top: 40px;
        padding-bottom: 106px;

        @include mq-max(break(tablet, -1)) {
            padding: 40px 16px 50px;
            background-position: center 0;
        }

        h3 {
            @extend .text-primary, .mb-32;

            letter-spacing: 12px;

            @include rem('font-size', 41);

            @include mq-max(break(tablet, -1)) {
                font-size: rem(36);
                letter-spacing: 2px;
                margin-bottom: 20px;
            }
        }
    }
}

// 律師資料
.lawyer {
    background: #f5efe9 url(#{$img-path}/lawyers/lawyer-footBg.gif) center bottom no-repeat;
    border-bottom: 3px solid #fff;
    padding-bottom: 84px;

    .pic {
        img {
            max-width: 100%;
        }
    }
    .intro {
        @extend .mb-48;

        @include mq(tablet) {
            padding-left: 32px;
        }
    }

    // 姓名+頭銜
    &-title {
        @extend .font-xxl, .mb-24;

        @include mq(tablet) {
            margin-top: 76px;
        }

        span  {
            letter-spacing: 10px;
        }
        small {
            letter-spacing: 3px;
            margin-top: 20px;

            @include rem('font-size', 20);
        }
    }

    article {
        @extend .pt-48;

        background: url(#{$img-path}/lawyers/lawyer-infoBg.gif) center 90px no-repeat;
        border-top: 1px solid #e8ddd3;

        @include mq-max(break(tablet, -1)) {
            background-position: right center;
        }
    }

    &-info {
        dt {

            font-weight: 100;
            letter-spacing: 2px;

            @include mq(tablet) {
                margin-bottom: 24px;
            }
        }
        p {
            @extend .mt-12
        }
        &.text-right {
            @include mq-max(break(tablet, -1)) {
                text-align: left;
            }
        }
    }
}

// == 專業領域
.service {
    &-law, &-scribe {
        background-repeat: no-repeat;

        @include mq(800px) {
            display: inline-block;
            vertical-align: top;
            min-height: 600px;

            @include grid(3, 7);
        }

        p {
            @include rem('font-size', 17);

            ~ p {
                margin-top: em(12);
            }
        }
    }
    // 法務部
    &-law {
        background-image: url(#{$img-path}/service-law.jpg);
        background-position: 0 bottom;

        @include mq-max(799px) {
            padding-bottom: 160px;
            margin-bottom: 24px;
        }
    }
    // 代書部
    &-scribe {
        background-image: url(#{$img-path}/service-scribe.jpg);
        background-position: right 0;

        @include mq(800px) {
            margin-left: 3%;
        }
    }
}

// == 聯絡我們
#map {
    height: 460px;
    border: 1px solid color();
}
.contact-info {
    @include mq(desktop) {
        padding-left: 32px;
    }
}
.contacts {
    dt, dd {
        @extend .mb-12;
    }
    dt {
        @extend .text-right, .pr-12, .text-success;
        width: 100px;
    }
}