@charset "UTF-8";

// 本頁專用變數(覆蓋)
// ------------------------------------------------------------
$isPage:                 true;

$font-size-h2:           45px;


// import
// ------------------------------------------------------------
@import "core/function";     // (置頂)

@import "_client/setting";   // 前台用變數
@import "core/variables";
@import "core/mixins";

// 由此 output css
@import "vendor/normalize";  // 重置樣式
@import "vendor/print";      // 列印樣式

@import "element/basic";
@import "element/link";
@import "element/type";
@import "element/btn";
@import "element/util";

@import "_client/layout";
@import "_client/modules/nav";
// @import "_client/modules/field";

@import "_client/custom";   // 本專案自定樣式


// main
// ------------------------------------------------------------

// == 專業團隊
.Lawyers #wrapper {
    padding-bottom: $footer-height;
}

// 律師選單
.lawyers {
    &-head {
        @extend .py-48;

        background: color(warning) url(#{$img-path}/lawyer-headBg.gif) center no-repeat;
        border-bottom: 2px solid #fff;

        h1 { letter-spacing: 3px; }
    }
    &-nav {
        a {
            color: #876647;
            padding: 0 28px;
            margin-right: -4px;

            @include rem('font-size', 21);

            &:not(:last-child) {
                border-right: 1px solid #fff;
            }

            &:hover, &:active, &.current {
                @extend .text-info;
            }
        }
    }
}

// 律師資料
.lawyer {
    background: #f5efe9 url(#{$img-path}/lawyer-footBg.gif) center bottom no-repeat;
    border-bottom: 3px solid #fff;
    padding-bottom: 84px;

    .intro {
        @extend .mb-48, .pl-32;
    }

    // 姓名+頭銜
    &-title {
        @extend .font-xxl, .mt-0, .mb-24;

        margin-top: 76px;

        span  {
            letter-spacing: 10px;
        }
        small {
            letter-spacing: 3px;
            margin-top: 20px;

            @include rem('font-size', 20);
        }
    }

    article {
        @extend .pt-48;

        background: url(#{$img-path}/lawyer-infoBg.gif) center 90px no-repeat;
        border-top: 1px solid #e8ddd3;
    }

    &-info {
        dt {
            @extend .mb-24;
            font-weight: 100;
            letter-spacing: 2px;
        }
        p {
            @extend .mt-12
        }
    }
}


// == 專業領域
.service {
    &-law, &-scribe {
        min-height: 600px;
        vertical-align: top;
        background-repeat: no-repeat;

        @include grid(3, 7);

        p {
            @include rem('font-size', 17);

            ~ p {
                margin-top: em(12);
            }
        }
    }
    &-law {
        background-image: url(#{$img-path}/service-law.jpg);
        background-position: 0 bottom;
    }
    &-scribe {
        background-image: url(#{$img-path}/service-scribe.jpg);
        background-position: right 0;
    }
}