@charset "UTF-8";

/*      layout
-----------------------------------------------------------------------*/
// 置中(有最大寬度限制,非滿版才需要)
.wrap {
    @extend .center;

    @include clearfix;

    max-width: $max-width;

    @include mq(desktop, $max-width) {
        max-width: $min-width;
    }

    @if $enable-RWD {
        @include mq-max(break($min-width, -1)) {
            @include rem('padding-left', 16px);
            @include rem('padding-right', 16px);
        }
    } @else {
        min-width: $min-width;
    }
}

#wrapper {
    @if $wrapper-bg     { background: $wrapper-bg; }
    @if not $enable-RWD { min-width: $min-width; }

    @if $lte7           { _height: 100%; }
    min-height: 100%;
    padding-bottom: $footer-height + $wrapper-b-spacing;

    // 本次專案
    @include mq(desktop) {
        padding-bottom: $footer-desktop-height + $wrapper-b-spacing;
    }
    @if $isPage {
        border-top: 1px solid color();
    }
}

// header
// ----------------------------------------------------------------------
#header {
    @if $header-bg     { background: $header-bg; }
    @if $header-height { height: $header-height; }
    position: relative;
    z-index: z(header);

    // 本次專案
    @if $isIndex {
        padding-top: 53px;
    }
    @if $isPage {
        @extend .mb-64;
        padding-top: 28px;
    }
}

.logo {
    cursor: pointer; cursor: hand; // for ie
    // z-index: z(logo);

    // @include text-pic($logo-img, nth($logo-size,1), nth($logo-size,2));
    @include transition(.3s);

    // 本次專案
    @if $isIndex {
        @extend .mb-4;

        background: url(#{$img-index}/#{$logo-img}) center 0 no-repeat;
        padding-top: 104px;
        margin-bottom: 4px;
        width: 420px;

        @include mq-max(480px) {
            width: 100%;
            padding-top: 22.5%;
            background-size: contain;
        }
        @include mq-max(mobile) {
            padding-top: 17.6%;
        }
    }
    @if $isPage {
        background: url(#{$img-path}/#{$logo-img}) center 0 no-repeat;
        width: 266px;
        padding-top: 48px;
    }

    @include mq(phone-plus, break($mobile-menu-bk, -1)) {
        .js-mobile-body & {
            position: relative;
            z-index: z(overlay) + 1;
        }
    }

    &-en {
        @extend .font-sm;

        $line-width: 82px;
        $line-margin: 72px;

        color: #9e8467;
        letter-spacing: 1px;
        position: relative;

        @include el(all, $ext:false) {
            width: $line-width;
            border-top: 1px solid color();

            @include absolute(top 49.5% left 50%);

            @include mq-max(mobile) {
                width: 42px;
            }

            @if $isPage {
                @include mq($mobile-menu-bk) {
                    display: none;
                }
            }
        }
        &::before {
            margin-left: -($line-width + $line-margin);

            @include mq-max(mobile) {
                margin-left: -(42px + $line-margin);
            }
        }
        &::after {
            margin-left: $line-margin;
        }

    }
    &-sub {
        @extend .mt-8;

        color: #bdb1a2;

        @include rem('font-size', 16);
    }
}

#banner {
    @extend .mt-24, .text-success;

    line-height: 1.2;
    font-weight: 100;
    width: 100%;

    @if $isIndex {
        @extend .mb-48;

        @include rem('font-size', 48);
    }
    @if $isPage {
        @include rem('font-size', 41);
    }
    @include mq-max(480px) {
        font-size: rem(34);
    }
}


// footer 頁腳
// ----------------------------------------------------------------------
#footer {
    @if $footer-bg     { background: $footer-bg; }
    @if $footer-color  { color: $footer-color; }
    min-height: $footer-height;
    margin-top: -($footer-height);
    position: relative;
    z-index: z(footer);

    // 本次專案
    @include mq(desktop) {
        min-height: $footer-desktop-height;
        margin-top: -($footer-desktop-height);
    }
    .wrap {
        padding-top: 54px;
        padding-bottom: 48px;
        position: relative;

        @include mq-max(break(desktop, -1)) {
            padding-top: 32px;
            padding-bottom: 24px;
        }
    }

    a {
        @extend .text-white;

        &:hover, &:active {
            @extend .text-primary;
        }
    }

    hr {
        margin: 12px 0 16px;
        border-color: #625432;
    }
}

.copyright {
    position: absolute;

    @include mq(desktop) {
        right: 16px;
        top: 72px;
    }
    @include mq(wide) {
        right: 0;
    }
    @include mq-max(break(desktop, -1)) {
        left: 120px;
        top: 50px;
        text-align: left;
    }
}

.foot {
    &-slogan {
        $size: 39;
        $height: 225px;

        color: #333;
        line-height: 1.2;
        letter-spacing: 4px;
        border-bottom: 2px solid #fff;
        padding-top: ($height - ($size*1.2))/2;
        padding-bottom: ($height - ($size*1.2))/2;

        background: color() url(#{$img-path}/foot-bg.gif) 120% center no-repeat;

        @include rem('font-size', $size);

        @include mq-max(break(desktop, -1)) {
            $height-s: 140px;

            background-size: cover;
            background-position: center center;
            padding: ($height-s - ($size*1.2))/2 16px;
        }
    }
    &-logo {
        @include text-pic('foot-logo.gif', $height: 67px);
        @include mq(desktop) {
            background-position: 40px 0;
        }
    }

    &-contact {
        @extend .font-sm;

        @include mq-max(break(desktop, -1)) {
            margin-top: 24px;
        }

        p {
            line-height: 1.85;
            letter-spacing: .05em;

            @include mq-max(break(tablet, -1)) {
                margin-bottom: 8px;
            }
        }
        em {
            @extend .inline-block, .text-center, .mr-8;

            $size: 22px;

            border: 1px solid #625432;
            font-style: normal;
            line-height: $size;

            @include size($size);
        }
        ul { @extend .mb-0; }
        li {
            @extend .mb-4;

            &:not(:last-child) { @extend .mr-16; };
        }
    }

    &-nav {
        @extend .mb-16;
        a {
            &:not(:last-child) {
                @extend .pr-8, .mr-4;
                border-right: 1px solid rgba(#fff, .85);
            }
        }
    }

    &-lawer {
        dt {
            @extend .text-primary;
            font-weight: 100;
            letter-spacing: 1px;

            @include mq(phone) {
                margin-top: -12px;
                @include rem('font-size', 35);
            }
            @include mq-max(break(phone, -1)) {
                font-size: rem(24);
                margin-top: -4px;
                float: none !important;
            }
        }
        a {
            display: inline-block;
            letter-spacing: 2px;

            @include mq(phone) {
                margin-left: 24px;
                margin-bottom: 16px;
            }
            @include mq-max(break(phone, -1)) {
                margin-right: 12px;
                margin-bottom: 12px;
            }
        }
    }
}