@{
    ViewBag.Title = "首頁";
    ViewBag.IsFirstPage = true;
}

<div class="wrap main">
    <figure class="card">
        <a href="~/Home/Service"></a>
        <h3 class="title mt-0"><span class="underline">法務部</span></h3>
        <p>一般民、商事法律案件<br>法律顧問<br>家事法律案件</p>
        <figcaption>
            <img src="~/Content/images/index/ServiceBg.jpg" alt="插圖">
        </figcaption>
    </figure>

    <figure class="card">
        <a href="~/Home/Service"></a>
        <h3 class="title mt-0"><span class="underline">代書部</span></h3>
        <p>不動產所有權買賣<br>土地、建物之買賣移轉登記<br>農地、工業地之合併規劃及分割等</p>
        <figcaption>
            <img src="~/Content/images/index/ServiceBg.jpg" alt="插圖">
        </figcaption>
    </figure>

</div>