
@{
    ViewBag.Title = "專業團隊";
    ViewBag.BodyClass = "Lawyers";
}

<header class="lawyers-head">
    <h1 class="mb-32 text-info">執業律師</h1>
    <nav class="lawyers-nav">
        <a href="#p1" class="scroll current">呂理胡</a>
        <a href="#p2" class="scroll">唐永洪</a>
        <a href="#p3" class="scroll">張晶瑩</a>
        <a href="#p4" class="scroll">楊雅馨</a>
        <a href="#p5" class="scroll">呂浩瑋</a>
    </nav>
</header>

<section id="p1" class="lawyer">
    <header class="wrap">
        <figure class="pic m-0 col-sm-6 col-md-5">
            <img src="~/Content/images/Lawyers/pic m-0.jpg" alt="呂理胡">
        </figure>
        <div class="intro col-sm-6 col-md-7 text-left">
            <h3 class="lawyer-title">
                <span class="underline text-info">呂理胡</span>
                <small class="block text-secondary">資深律師</small>
            </h3>
            <p class="font-lg">登錄執業法院 :: 台北、新北、桃園、新竹</p>
        </div>
    </header>
    <article class="wrap">
        <dl class="col-sm-5 lawyer-info text-right">
            <dt class="font-xxl text-success">
                EXPERIENCE
                <small class="font-xl block text-warning">學、經歷</small>
            </dt>
            <dd>
                <p>政治大學法律系畢</p>
                <p>高考律師及格</p>
                <p>中華民國律師公會全國聯合會常務監事</p>
                <p>桃園律師公會前理事長</p>
                <p>寶六興科技有限公司執行長</p>
                <p>中華呂祖謙學術研究協會理事長</p>
                <p>東萊興業(鋰電池材料)股份有限公司董事長</p>
            </dd>
        </dl>
        <dl class="col-sm-5 push-sm-2 lawyer-info text-left">
            <dt class="font-xxl text-success">
                SERVICES
                <small class="font-xl block text-warning">專業領域</small>
            </dt>
            <dd>
                <p>刑事偵查辯護案件、刑事審理辯護案件</p>
                <p>軍事法院刑事案件</p>
                <p>少年刑事案件</p>
                <p>一般民商案件   </p>
                <p>家事案件</p>
                <p>非訟、強制執行案件</p>
                <p>訴願、行政訴訟案件</p>
                <p>契約審閱、撰擬</p>
            </dd>
        </dl>
    </article>
</section>

<section id="p2" class="lawyer">
    <header class="wrap">
        <figure class="pic m-0 col-sm-6 col-md-5">
            <img src="~/Content/images/Lawyers/pic m-0.jpg" alt="唐永洪">
        </figure>
        <div class="intro col-sm-6 col-md-7 text-left">
            <h3 class="lawyer-title">
                <span class="underline text-info">唐永洪</span>
                <small class="block text-secondary">主持律師</small>
            </h3>
            <p class="font-lg">登錄執業法院 :: 宜蘭、台北、新北、桃園、新竹、苗栗、台中高分院</p>
        </div>
    </header>
    <article class="wrap">
        <dl class="col-sm-5 lawyer-info text-right">
            <dt class="font-xxl text-success">
                EXPERIENCE
                <small class="font-xl block text-warning">學、經歷</small>
            </dt>
            <dd>
                <p>東吳大學法律系畢</p>
                <p>高考律師及格</p>
                <p>法律扶助基金會審查委員</p>
            </dd>
        </dl>
        <dl class="col-sm-5 push-sm-2 lawyer-info text-left">
            <dt class="font-xxl text-success">
                SERVICES
                <small class="font-xl block text-warning">專業領域</small>
            </dt>
            <dd>
                <p>刑事案件</p>
            </dd>
        </dl>
    </article>
</section>

<section id="p3" class="lawyer">
    <header class="wrap">
        <figure class="pic m-0 col-sm-6 col-md-5">
            <img src="~/Content/images/Lawyers/pic m-0.jpg" alt="張晶瑩">
        </figure>
        <div class="intro col-sm-6 col-md-7 text-left">
            <h3 class="lawyer-title">
                <span class="underline text-info">張晶瑩</span>
                <small class="block text-secondary">合夥律師</small>
            </h3>
            <p class="font-lg">登錄執業法院 :: 桃園、新北</p>
        </div>
    </header>
    <article class="wrap">
        <dl class="col-sm-5 lawyer-info text-right">
            <dt class="font-xxl text-success">
                EXPERIENCE
                <small class="font-xl block text-warning">學、經歷</small>
            </dt>
            <dd>
                <p>中原大學財經法律碩士</p>
                <p>國立臺北大學法學士</p>
                <p>財團法人法律扶助基金會桃園分會扶助律師</p>
                <p>臺灣臺南地方法院書記官</p>
            </dd>
        </dl>
        <dl class="col-sm-5 push-sm-2 lawyer-info text-left">
            <dt class="font-xxl text-success">
                SERVICES
                <small class="font-xl block text-warning">專業領域</small>
            </dt>
            <dd>
                <p>一般民商案件</p>
                <p>不動產案件、土地分割案件</p>
                <p>一般刑事案件</p>
                <p>一般家事案件、繼承與遺產案件、離婚案件、遺產管理人</p>
                <p>契約、離婚協議、遺囑、協議書之審閱與撰擬</p>
            </dd>
        </dl>
    </article>
</section>

<section id="p4" class="lawyer">
    <header class="wrap">
        <figure class="pic m-0 col-sm-6 col-md-5">
            <img src="~/Content/images/Lawyers/pic m-0.jpg" alt="楊雅馨">
        </figure>
        <div class="intro col-sm-6 col-md-7 text-left">
            <h3 class="lawyer-title">
                <span class="underline text-info">楊雅馨</span>
                <small class="block text-secondary">合夥律師</small>
            </h3>
            <p class="font-lg">登錄執業法院 :: 桃園、新北</p>
        </div>
    </header>
    <article class="wrap">
        <dl class="col-sm-5 lawyer-info text-right">
            <dt class="font-xxl text-success">
                EXPERIENCE
                <small class="font-xl block text-warning">學、經歷</small>
            </dt>
            <dd>
                <p>國立臺北大學法學士</p>
                <p>高考律師及格</p>
                <p>財團法人法律扶助基金會新北、桃園分會扶助律師</p>
                <p>臺灣高雄、臺東地方法院法官助理</p>
            </dd>
        </dl>
        <dl class="col-sm-5 push-sm-2 lawyer-info text-left">
            <dt class="font-xxl text-success">
                SERVICES
                <small class="font-xl block text-warning">專業領域</small>
            </dt>
            <dd>
                <p>一般民商案件</p>
                <p>不動產案件、土地分割案件</p>
                <p>刑事偵查辯護案件、刑事審理辯護案件、少年刑事案件</p>
                <p>一般家事案件、繼承與遺產案件、離婚案件、遺產管理人</p>
                <p>契約、離婚協議、遺囑、協議書之審閱與撰擬</p>
                <p>消費者債務清理</p>
            </dd>
        </dl>
    </article>
</section>

<section id="p5" class="lawyer">
    <header class="wrap">
        <figure class="pic m-0 col-sm-6 col-md-5">
            <img src="~/Content/images/Lawyers/pic m-0.jpg" alt="呂浩瑋">
        </figure>
        <div class="intro col-sm-6 col-md-7 text-left">
            <h3 class="lawyer-title">
                <span class="underline text-info">呂浩瑋</span>
                <small class="block text-secondary">合夥律師</small>
            </h3>
            <p class="font-lg">登錄執業法院 :: 桃園、新北</p>
        </div>
    </header>
    <article class="wrap">
        <dl class="col-sm-5 lawyer-info text-right">
            <dt class="font-xxl text-success">
                EXPERIENCE
                <small class="font-xl block text-warning">學、經歷</small>
            </dt>
            <dd>
                <p>國立臺北大學法學碩士</p>
                <p>國立臺北大學法學士</p>
                <p>財團法人法律扶助基金會臺北、新北、桃園分會扶助律師</p>
            </dd>
        </dl>
        <dl class="col-sm-5 push-sm-2 lawyer-info text-left">
            <dt class="font-xxl text-success">
                SERVICES
                <small class="font-xl block text-warning">專業領域</small>
            </dt>
            <dd>
                <p>一般民商案件</p>
                <p>不動產案件、土地分割案件</p>
                <p>一般刑事案件</p>
                <p>水土保持案件</p>
                <p>少年案件</p>
                <p>一般家事案件、繼承與遺產案件、離婚案件、遺產管理人</p>
                <p>契約、離婚協議、遺囑、協議書之審閱與撰擬</p>
            </dd>
        </dl>
    </article>
</section>

<footer class="lawyers-explain text-info font-xxl py-32 bg-white">
    執行業務管轄區域設明
    <small class="block font-xl text-secondary">金門、馬祖地區並無限制，但如欲委任於其他地區法院轄區可另行討論</small>
</footer>