
@{
    ViewBag.Title = "專業團隊";
    ViewBag.BodyClass = "Lawyers";
}

<header class="lawyer-head bg-warning">
    <h1 class="mb-32">執業律師</h1>
    <nav class="lawyer-nav">
        <a href="~/Home/Lawyers#p1" class="scroll">呂理胡</a>
        <a href="~/Home/Lawyers#p2" class="scroll">唐永洪</a>
        <a href="~/Home/Lawyers#p3" class="scroll">張晶瑩</a>
        <a href="~/Home/Lawyers#p4" class="scroll">楊雅馨</a>
        <a href="~/Home/Lawyers#p5" class="scroll">呂浩瑋</a>
    </nav>
</header>

