@charset "UTF-8";

/*      layout
-----------------------------------------------------------------------*/
// 置中(有最大寬度限制,非滿版才需要)
.wrap {
    @extend .center;

    @include clearfix;

    max-width: $max-width;

    @include mq(desktop, $max-width) {
        max-width: $min-width;
    }

    @if $enable-RWD {
        @include mq-max(break($min-width, -1)) {
            @include rem('padding-left', 16px);
            @include rem('padding-right', 16px);
        }
    } @else {
        min-width: $min-width;
    }
}

#wrapper {
    @if $wrapper-bg     { background: $wrapper-bg; }
    @if not $enable-RWD { min-width: $min-width; }

    @if $lte7           { _height: 100%; }
    min-height: 100%; //calc(100vh - #{$footer-height})
    padding-bottom: $footer-height + $wrapper-b-spacing;

    // 本次專案
    @if $isPage {
        border-top: 1px solid color();
    }
}

// header
// ----------------------------------------------------------------------
#header {
    @if $header-bg     { background: $header-bg; }
    @if $header-height { height: $header-height; }
    position: relative;
    z-index: z(header);

    // 本次專案
    @if $isIndex {
        padding-top: 53px;
    }
    @if $isPage {
        @extend .mb-64;
        padding-top: 28px;
    }
}

.logo {
    cursor: pointer; cursor: hand; // for ie
    z-index: z(logo);

    // @include text-pic($logo-img, nth($logo-size,1), nth($logo-size,2));
    @include transition(.3s);

    // 本次專案
    @if $isIndex {
        @extend .mb-4;

        background: url(#{$img-index}/#{$logo-img}) center 0 no-repeat;
        padding-top: 104px;
        margin-bottom: 4px;
        width: 420px;
    }
    @if $isPage {
        background: url(#{$img-path}/#{$logo-img}) center 0 no-repeat;
        width: 266px;
        padding-top: 48px;
    }

    &-en {
        @extend .font-sm;

        $line-width: 82px;
        $line-margin: 72px;

        color: #9e8467;
        letter-spacing: 1px;

        @if $isIndex {
            position: relative;

            @include el(all) {
                width: $line-width;
                border-top: 1px solid color();

                @include absolute(top 49.5% left 50%);
            }
            &::before {
                margin-left: -($line-width + $line-margin);
            }
            &::after {
                margin-left: $line-margin;
            }
        }
    }
    &-sub {
        @extend .mt-8;

        color: #bdb1a2;

        @include rem('font-size', 16);
    }
}

.slogan {
    @extend .text-success;

    font-weight: 100;

    @if $isIndex {
        @extend .font-xxxl, .mb-48;
    }
    @if $isPage {
        @include rem('font-size', 41);
    }
}


// footer 頁腳
// ----------------------------------------------------------------------
#footer {
    @if $footer-bg     { background: $footer-bg; }
    @if $footer-color  { color: $footer-color; }
    min-height: $footer-height;
    margin-top: -($footer-height);
    position: relative;
    z-index: z(footer);

    .wrap {
        padding-top: 54px;
        padding-bottom: 48px;
        position: relative;
    }

    a {
        @extend .text-white;

        &:hover, &:active {
            @extend .text-primary;
        }
    }
}

.copyright {
    @include absolute(right 0 top 72px);
}

.foot {
    &-slogan {
        color: #333;
        line-height: 227px;
        letter-spacing: 4px;
        border-bottom: 2px solid #fff;

        background: color() url(#{$img-path}/foot-bg.gif) 120% center no-repeat;

        @include rem('font-size', 39);
    }
    &-logo {
        @include text-pic('foot-logo.gif', $height: 67px, $seat: 40px 0);
    }

    &-contact {
        @extend .font-sm;

        p {
            line-height: 1.85;
            letter-spacing: .05em;
        }
        em {
            @extend .inline-block, .text-center, .mr-8;

            $size: 22px;

            border: 1px solid $border-color;
            font-style: normal;
            line-height: $size;

            @include size($size);
        }
        ul { @extend .mb-0; }
        li {
            @extend .mb-4;

            &:not(:last-child) { @extend .mr-16; };
        }
    }

    &-nav {
        a {
            &:not(:last-child) {
                @extend .pr-8, .mr-4;
                border-right: 1px solid rgba(#fff, .85);
            }
        }
    }

    &-lawer {
        dt {
            @extend .font-xxl, .text-primary;
            font-weight: 100;
            letter-spacing: 1px;
            margin-top: -12px;
        }
        a {
            @extend .ml-24, .mb-16;
            letter-spacing: 2px;
            display: inline-block;
        }
    }
}